html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    border: 1px solid lightgrey;
    border-radius: 10%;
    text-align: end;
}

.input-box {
    display: flex;
}

.input-column {
    display: flex;
    flex-direction: column;
}