html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    background: ghostwhite;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 6.4rem;
}

.container {
    width: 30vw;
    height: 70vh;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: black;
}

.display {
    margin-bottom: 2%;
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: end;
    background: white;
}

.input-box {
    width: 100%;
    height: 84%;
    display: flex;
}

.input-column {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    height: 25%;
    font-family: "Dosis", sans-serif;
    font-size: 6.4rem;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
}

.num-btn {
    background: #084896;
    color: white;
}

.op-btn {
    background: #ff8c00;
}

.equal-btn {
    background: #169608;
}

.clear-btn {
    background: #ff0000;
}